* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.question {
    margin-top:50px;
    font-size: 1.2em;
}

.translation {
    font-size: 1em;
    color: #cfcfcf;
    margin-top: 5px;
    font-style: italic;
}

select {
    padding: 5px;
    font-size: 1em;
}

.correct {
    color: #30ff30;
}
.incorrect {
    color:#e60000;
}
